@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <p>Программа Турфирма «Иван Сусанин» предназначена для ведения расчетов по имеющимся турам. Клиенты могут выбирать позиции из списка туров. Туры оплачиваются либо полностью сразу, либо оплачивается частично, если клиент не может внести всю сумму целиком.</a></p>
    </div>
